:host {
  display: block;
  width: 100%;
  position: relative;
  font-family: inherit;
}

.dropdown-trigger {
  cursor: pointer;
  border: none;
  font-weight: 600;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1em .4em;
  color: #515151;
  box-shadow: 0 1px 1px 1px #0000009f, inset 0px 0px 10px 0px rgba(0, 0, 0, 0.13);
  background-color: #fff;
  transform: scale(.99, .99);
  transition: all .2s ease-in-out;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  &:hover {
    background-color: rgb(221, 221, 221);
  }
  i {
    margin-right: .5em;
    font-size: 1em;
  }
}

ul {
  width: 100%;
  max-height: 50vh;
  overflow: auto;
  list-style: none;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;

  li {
    cursor: pointer;
    padding: 1em 1em;
    margin: 4px 2px;
    box-shadow: 0 1px 1px 1px #00000046;
    border-bottom: 1px solid #e5e5e5;
    font-size: .9em;
    background-color: #fff;
    transition: background .3s ease-in-out;

    &:hover,
    &:active,
    &:focus {
      background-color: rgb(237, 237, 237);
    }
  }
}
