<button (click)="showList()"  class="dropdown-trigger">
 <ng-content></ng-content>  {{label}}
</button>
  <ul  @itemListAnimation  *ngIf="listShown" #itemsList>
        <li *ngFor="let item of items"  (click)="selectItem(item)">{{item.text}}</li>
</ul>